/* Colors */
$primary1: #1e4363;
$primary2: #fcf2cb;
$primary3: #ffb00d;
$primary4: #ff8926;
$primary4: #bc2d19;
$primary5: #a91901;
$backgroundColor: #ececec;
$lightGrayEF: #efefef;
$lightGrayF4: #f4f4f4;
$lightGrayBD: #bdbdbd;

$linkColor: #7ab6e3;
$linkHoverColor: #cadd63;
$linkMenuColor: #cadd63;
$mobileColor: #222;

$headerSubNav: #2f2e2e;
$headerTopArea: #f8f8f8;
$headerBottomBGColor: #222222;
$headerBottomBGColor2: #cd2001;

$boxColor: #f8f8f8;
$border-color-ccc: #ccc;
$white: #fff;

/* Gray */
$bodyColor: #222;
$gray444: #444;
$gray3a: #3a3a3a;
$relatedDateColor: #999;
$c_999: #999;
$gray999: #999;
$gray666: #666;
$gray555: #555;
$gray222: #222;
$gray7f: #7f7f7f;
$grayWhitish: #f5f5f5;
$red: #be1931;

/* Footer */
$semi-gray-2: #e8e8e8;
$footer_menu_a: #222;

/* Font size */
$headerH2FontSize: 25px;
$headerH3FontSize: 22px;

/* Font Family */
$headingFont1: "Playfair Display";

/* Heading Horizontal Rule Colors */
$horizontalRuleColor1: lighten(#a91901, 50%);
$blockQuoteColor1: #cf734e;
$blockQuoteBGColor1: #ffffec;

/* We Work differently */
$ul_bg: #7c8c26;
$li_bg: #a1b33f;
$li_a_color: #333;
